body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    padding: 2rem;
    background-color: white;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#screen {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    align-self: stretch;
    text-align: right;
}

#secondary-display {
    color: gray;
    font-size: 1.75rem;
    height: 2rem;
}

#main-display {
    color: white;
    font-size: 2rem;
    height: 2.25rem;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.flex-row {
    display: flex;
    gap: 0.75rem;
}

.flex-cell {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    width: 6rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.flex-cell:hover {
    filter: brightness(85%);
}

.number {
    background-color: rgb(234, 234, 234);
}

.operator {
    background-color: rgb(255, 173, 20);
    color: white;
}

.equal {
    background-color: rgb(167, 73, 255);
    color: white;
}

.delete,
.clear {
    background-color: rgb(255, 106, 106);
    color: white;
}

.selected {
    filter: brightness(70%);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}